@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: #222
}

a {
    display: block;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

nav > ul {
    display: flex;
}

nav ul li {
    text-align: center;
}

nav > ul > li > a {
    display: block;
    padding: 12px;
    width: 100px;
    background-color: #4f2db7;
}

nav > ul > li > a:hover {
    color: white;
    background-color: #182ba7;
}

.sub {
    position: absolute;
    display: none;
    z-index: 10;
    width: 100px;
}

.sub li a {
    background-color: rgb(120, 120, 120);
    display: block;
    padding: 12px;
    color: white;
}

.sub li a:hover {
    background-color: rgb(49, 49, 49);
}

.slide {
    width: 1200px;
    margin: auto;
    height: 300px;
    overflow: hidden;
}

.swrap {
    display: flex;
    width: 300%;
    height: 100%;
}

.swrap li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swrap li a {
    padding: 20px 40px;
    background-color: #182ba7;
    color: beige;
    font-size: 40px;
}

.s1 {
    background: url(../img/beautiful-woman-wearing-minimalist-shirt.jpg) no-repeat center/cover;
}

.s2 {
    background: url(../img/fashion-portrait-young-elegant-woman.jpg) no-repeat center/cover;
}

.s3 {
    background: url(../img/lady-working-as-fashion-designer-creating-new-dress.jpg) no-repeat center/cover;
}

.contents {
    width: 1200px;
    height: 200px;
    margin: auto;
}

.con {
    width: 400px;
    height: 100%;
    border: 1px solid red;
}

.tapmenu {
    display: flex;
}

.tapmenu h2 {
    background: violet;
}

.notice {
    height: 100%;
    background-color: violet;
}

.notice ul {
    padding: 4px;
}

.notice ul li a {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 4px;
}